*{
  text-align: center;
}

h2{
  font-family:Helvetica;
  font-size: 18px;
  color:white;
  text-decoration-line: underline;
}

div {
    display: block;
}

.hero {
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    text-align: center;
    color: white;

}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight:bold;
  color:white;
}

.btn-nav {
  color:white;
  font-family: Helvetica;
  font-size: 18px;
}
