h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight:bold;
  color:white;
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');

   height: 500px;
   
   background-repeat:no-repeat;
}
*{
  text-align: center;
}
